.container{
text-align: center ;
margin-top: 23px;
}
table{
    margin: auto;

}
input{
 border: 5px solid rgb(21, 22, 21);  
 border-radius: 21px;
 font-size: 34px;


}button{
border-radius: 20px;
font-size: 40px;
background-color: #e6a075;
width: 95px;
height: 95px;

}
.container{
display: inline-block;
border-radius: 53px;
padding: 20px;
background-color:rgb(122, 93, 93)
}
td button {
    border-radius: 15px;
}